:root {
    --placeholder_color: #E8DD90;
}

body {
    background-image: url("/Resources/bricks.png");
    background-size: 50px;
    background-repeat: repeat;
    border: thick;
    border-style: ridge;
    border-color: #3E3255;
    font-family: 'pixel_font', sans-serif;
    display: flex;
    flex-direction: column;
}

#stopwatch_text_div {
    background-image: url("/Resources/grid.png");
    background-size: 10px;
    background-repeat: repeat;
    margin: 15px 15% 15px 15%;
    font-size: 16px;
    background-color: #283954;
    border: thick;
    border-color: #344a6d;
    border-style: inset;
    color: #E8DD90;

}

#countdown_text_div {
    background-image: url("/Resources/grid.png");
    background-size: 10px;
    background-repeat: repeat;
    margin: 15px 15% 15px 15%;
    font-size: 16px;
    background-color: #283954;
    border: thick;
    border-color: #344a6d;
    border-style: inset;
    color: #E8DD90;
}

.stopwatch_text_paused {
    background-image: url("/Resources/grid.png");
    background-size: 10px;
    background-repeat: repeat;
    background-color: #283954;
    border: thick;
    border-color: #344a6d;
    border-style: inset;
    color: #D12F30;
    animation: paused_text 2s ease infinite;
}

@keyframes paused_text {
    25% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.stopwatch {
    width: 64px;
    height: 64px;
    text-align: center;
    background-image: url("../../Resources/Clock sprite sheet.png");
    background-size: 576px 64px;
    animation: clockTick 1s steps(9) infinite;
    display: inline-block;
    vertical-align: middle;
}

.stopwatch_paused {
    width: 64px;
    height: 64px;
    text-align: center;
    background-image: url("../../Resources/Clock sprite sheet.png");
    background-size: 576px 64px;
    animation: clockTick 0s steps(9) infinite;
    display: inline-block;
    vertical-align: middle;
}

.countdown {
    width: 64px;
    height: 64px;
    text-align: center;
    background-image: url("../../Resources/Clock sprite sheet.png");
    background-size: 576px 64px;
    animation: clockTick 0.5s steps(9) infinite;
    display: inline-block;
    vertical-align: middle;
}

@keyframes clockTick {
    from {
        background-position-x: 0px;
    }

    to {
        background-position-x: 576px;
    }
}

button {
    background: linear-gradient(180deg, rgba(223, 223, 223, 0.2923265925624914) 0%, rgba(255, 255, 255, 0.935) 30%, rgba(74, 74, 74, 0.0028529083519651666) 39%, rgba(45, 45, 45, 0.5730283469484563) 100%), #CA9668;
    color: black;
    border: medium;
    font-family: 'pixel_font';
    text-decoration: solid;
    text-align: center;
    border-color: rgb(60, 60, 60);
    border-style: outset;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button:hover {
    background: linear-gradient(180deg, rgba(223, 223, 223, 0.2923265925624914) 0%, rgb(232, 201, 44) 30%, rgba(74, 74, 74, 0.0028529083519651666) 39%, rgba(45, 45, 45, 0.5730283469484563) 100%), #CA9668;
    color: black;
    border: medium;
    border-color: rgb(60, 60, 60);
    border-style: outset;
}

button:disabled {
    background: linear-gradient(180deg, rgba(223, 223, 223, 0.2923265925624914) 0%, rgb(232, 201, 44) 30%, rgba(74, 74, 74, 0.0028529083519651666) 39%, rgba(45, 45, 45, 0.5730283469484563) 100%), #999999;
    color: black;
    border: medium;
    border-color: rgb(60, 60, 60);
    border-style: outset;
}

input {
    background-image: url("/Resources/grid.png");
    background-size: 10px;
    background-repeat: repeat;
    background-color: #283954;
    font-family: 'pixel_font';
    border: thick;
    border-color: #344a6d;
    border-style: inset;
    width: 60%;
    font-size: small;
    color: #E8DD90;
    padding: 2px;
    margin-bottom: 5%;
}

#start {
    padding-bottom: 5px;
    width: 200px;
    text-align: center;
}

#stopwatch {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    width: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#countdown {
    padding-bottom: 5px;
    width: 200px;
    text-align: center;
}

#stats_btn {
    align-self: center;
    text-align: center;
    margin-bottom: 15px;
}

::placeholder {
    color: var(--placeholder_color);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--placeholder_color);
}

::-ms-input-placeholder {
    color: var(--placeholder_color);
}