<!DOCTYPE html>
<html>

<head>
  <title>Warptimer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="Stylesheets/popup.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <style>
    @font-face {
      font-family: pixel_font;
      src: url('../../Resources/Font/pixel_font.TTF');
    }
  </style>

</head>

<body>
  <div class="container" id="start">
    <p id="type"><img src="/Resources/Icon/clock.png" alt=""></p>
    <div>
      <input type="text" list="tasks" placeholder="NEW TASK"/>
      <datalist id="tasks">
        <option value="English"></option>
      </datalist>
    </div>
    <div>
      <button id="startBtn"><i class="fas fa-play fa-xs"></i> Start</button>
    </div>
  </div>
  <div class="container" id="stopwatch">
    <p>
    <div class="stopwatch" id="stopwatch_clock"></div>
    <div class="stopwatch_text" id="stopwatch_text"><span id="tens">00</span>:<span id="seconds">00</span></div>
    </p>
    <div>
      <button id="divertBtn"><i class="fas fa-pause"></i>Divert</button>
      <button id="restBtn"><i class="fas fa-stop"></i> Rest</button>
    </div>
  </div>
  <div class="container" id="countdown">
    <p>
    <div class="countdown"></div> <span id="mins">00</span>:<span id="secs">00</span></p>
    <div>
      <button id="skipBtn"><i class="fas fa-forward fa-xs"></i> Skip</button>
    </div>
  </div>
  <script src="../Scripts/popup.js"></script>
</body>

</html>