<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/statistics.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <style>
        @font-face {
            font-family: pixel_font;
            src: url('../../Resources/Font/pixel_font.TTF');
        }
    </style>
    <title>Stats</title>
</head>

<body>
    <div class="container">
        <div class="header">Header</div>
        <div class="calendar">
            <ui id="calendar_toolbar">
                <button> < </button>
                <label>December</label>
                <button> > </button>
            </ui>
        </div>
        <div class="stats">Statistics</div>
        <div class="options">Options</div>
    </div>
</body>

</html>