<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles/statistics.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="/UserStatistics/Libs/charts.js"></script>
    <script src="/UserStatistics/Libs/hammer.js"></script>
    <script src="/UserStatistics/Libs/chartZoom.js"></script>
    <script src="/UserStatistics/Libs/dateChart.js"></script>
    <style>
        @font-face {
            font-family: pixel_font;
            src: url('/Resources/Font/pixel_font.TTF');
        }
    </style>
    <title>Stats</title>
</head>

<body>
    <div class="container">
        <div id="header" class="panel">Header</div>
        <div id="calendar" class="panel">
            <div id="calendar_toolbar">
                <button id="backward_btn"> <i class="fas fa-caret-left"></i> </button>
                <label id="calendar_title">December</label>
                <button id="forward_btn"> <i class="fas fa-caret-right"></i> </button>
            </div>
            <div id="days">
                <label>Su</label>
                <label>Mn</label>
                <label>Th</label>
                <label>Wn</label>
                <label>Tu</label>
                <label>Fr</label>
                <label>St</label>
            </div>
            <div id="items">
            </div>
        </div>
        <div id="overall-stats" class="panel">
            <canvas id="overall_graph" class="display"></canvas>
        </div>
        <div id="stats" class="panel">
            <div id="day-info-div" class="display">
                <label id="day-score-title"> Day info: </label>
                <div id="day-data">
                </div>
                <ul id="overall-day-score" valign="bottom">
                    <li>Task: 00:00:00</li>
                    <li>Rest: 00:00:00</li>
                    <li>Divert: 00:00:00</li>
                </ul>
            </div>
            <div id="polar-charts-panel">
                <div id="polar-chart-div" class="display"><canvas id="polar_chart"></canvas></div>
                <div id="dtp-chart-div" class="display"><canvas id="dtp_chart"></canvas></div>
            </div>
        </div>
        <div id="options" class="controll">
            <label> Control </label>
            <button id="reset_zoom">Reset zoom</button>
            <button id="export_database">Export CSV</button>
            <label for="import_json" id="import-json-label">Import JSON</label>
            <button id="export_json">Export JSON</button>
            <button id="clear_data">Clear Data</button>
            <input type="file" id="import_json" accept=".json" hidden>
        </div>
    </div>
    <script src="/UserStatistics/Libs/chartColors.js"></script>
    <script src="/UserStatistics/Models/calendar.js"></script>
    <script src="/UserStatistics/Models/day.js"></script>
    <script src="/UserStatistics/Models/task.js"></script>
    <script src="/UserStatistics/Relation/statistics.js"></script>
    <script src="/UserStatistics/Models/database.js"></script>
    <script src="/UserStatistics/Models/overallGraph.js"></script>
    <script src="/UserStatistics/Models/polarChart.js"></script>
    <script src="/UserStatistics/Models/dayGraph.js"></script>
    <script src="/UserStatistics/Models/dtpChart.js"></script>
    <script src="/UserStatistics/Libs/indexeddb-import-export.js"></script>
</body>

</html>